body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.center, .footer, .search-section-title, .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-container, .footer, .search-section-input input, .search-section-title, .header {
  width: 100%;
  height: 80px;
}

.letter-transform, .footer, .search-section-title, .header {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.description, .cat-section-2-3, .cat-section-2-2, .cat-section-2-1, .crab-section-4, .crab-section-2 {
  background-color: #99DDCC;
  color: #FFF;
}

.header {
  background-color: #99DDCC;
  color: #FFF;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
}

.main-section img {
  width: 100%;
  height: 100%;
}

.search-section-title {
  background-color: #99DDCC;
  color: #FFF;
  font-family: arial;
  font-size: 18px;
}
.search-section-input {
  background-color: #FFF;
  display: grid;
  grid-template-columns: 60px auto;
  justify-items: center;
  align-items: center;
}
.search-section-input input {
  border: 0px;
  outline: none;
  font-size: 18px;
  letter-spacing: 5px;
}

.crab-section {
  width: 100%;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr 1fr 2fr;
}
@media screen and (max-width: 500px) {
  .crab-section {
    height: 500px;
  }
}
.crab-section img {
  width: 100%;
  height: 100%;
}
.crab-section-1 {
  grid-row: 1/4;
}
@media screen and (max-width: 500px) {
  .crab-section-1 {
    grid-row: 1/3;
  }
}
.crab-section-2 {
  grid-column: 2;
  grid-row: 1/2;
}
@media screen and (max-width: 500px) {
  .crab-section-2 {
    grid-column: 2;
    grid-row: 1/3;
  }
}
.crab-section-3 {
  grid-column: 2;
  grid-row: 2/5;
}
@media screen and (max-width: 500px) {
  .crab-section-3 {
    grid-column: 2;
    grid-row: 3/5;
  }
}
.crab-section-4 {
  grid-row: 4/5;
}
@media screen and (max-width: 500px) {
  .crab-section-4 {
    grid-row: 3/5;
  }
}

.cat-section {
  width: 100%;
  height: 900px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media screen and (max-width: 500px) {
  .cat-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 450px);
  }
}
.cat-section img {
  width: 100%;
}
.cat-section-1 {
  height: 100%;
}
.cat-section-2 {
  display: grid;
  grid-template-rows: repeat(3, 300px);
}
@media screen and (max-width: 500px) {
  .cat-section-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 225px);
  }
}
@media screen and (max-width: 500px) {
  .cat-section-2-1 {
    grid-column: 1/3;
  }
}
.cat-section-2-2 {
  height: 100%;
}
@media screen and (max-width: 500px) {
  .cat-section-2-2 {
    height: 50%;
    grid-column: 1/2;
    grid-row: 2;
  }
}
@media screen and (max-width: 500px) {
  .cat-section-2-3 {
    grid-column: 2/3;
    grid-row: 2;
  }
}

.footer {
  background-color: #FFF;
  color: #FA91A7;
  font-size: 15px;
  font-weight: bold;
}
.footer p {
  text-align: center;
}
.footer p span {
  color: #99DDCC;
}

/*# sourceMappingURL=styles.css.map */
